$accent: hsl(102, 38%, 24%);
$bg: #f0f2ef;
$clear-one: #fffcfc;
$clear-focus: white;
$slate: #3d3e4d;

body {
    background-color: $clear-one;
}

.map-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-drawer {
    position: absolute;
    z-index: 1000;
    top: calc(100% - 4em);
    width: 100%;

    background-color: white;
    border-radius: 1em;
    box-shadow: -2px -2px 5em #898989;

    height: 100%;
    transition: ease-in-out 0.3s;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        padding: 0 2em;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        h2 {
            flex: 1;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }

    .content {
        flex: 1;
        overflow: auto;
        padding: 0 2em;
    }

    &.moving {
        transition: none;
    }

    &.open {
        top: 0;
        border-radius: 0;
    }
}

.devices-list {
    background-color: #edecec;

    &:not(.open) {
        .header:hover {
            background-color: $clear-focus;
        }
    }
    &.open .header {
        background-color: $clear-focus;
        border-bottom: solid 1px #e2e2e2;
    }
    .header {
        color: $slate;
        text-transform: uppercase;

        .MuiSvgIcon-root {
            color: $accent;
        }
    }

    .content {
        padding: 2em;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
        // grid-template-rows: repeat(auto-fill, 11em);
        grid-auto-flow: row;

        & > * {
            height: 13em;
        }

        gap: 1.5em;
    }

    @media (max-width: 600px) {
        .content {
            padding: 1em;
        }
        .grid {
            display: flex;
            gap: 1em;
            flex-direction: column;
            & > * {
                height: fit-content;
            }
        }
    }
}

.labuse-logo {
    z-index: 999;
    position: absolute;
    top: 1.25em;
    left: 1.25em;

    background-image: url('../assets/pirate.webp');
    background-position: center;
    background-size: 200%;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    box-shadow: 1px 1px 2px #d5d5d5, 1px 1px #d5d5d5 inset;

    border: solid 3px white;
}

.device-card {
    flex-shrink: 0;

    // border-radius: 0.5em;
    background-color: $clear-one;
    border: none;
    box-shadow: 2px 2px 5px #d5d5d5;
    // box-shadow: none;
    cursor: pointer;

    color: $slate;

    &:hover {
        background-color: $clear-focus;
    }

    // border-top: solid 1px pink;
    // border-left: solid 1px pink;

    .wind-direction-container {
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        width: 13em;
        flex-direction: column;

        background-color: $bg;

        .wind-icon {
            color: $accent;
            font-size: 5em;
        }
    }

    .card-measures {
        flex-wrap: wrap;
        padding: 0 1em;
        padding-bottom: 2em;
    }

    .device-infos {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 2em;
        padding-top: 1em;
        overflow: hidden;

        .MuiSvgIcon-root {
            color: $accent;
        }

        h5 {
            color: $slate;
            margin: 0;
            font-size: 1.5em;
        }

        h5,
        .subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            max-width: 100%;
        }
    }

    @media (max-width: 600px) {
        .device-infos {
            padding: 1em 1em 1em 1em;
        }
        .card-measures {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 0 1em;
            padding-bottom: 1em;
        }
        .wind-direction-container {
            width: 100%;
            padding: 1em 0;
        }
        .link-icon {
            display: none;
        }
        & {
            flex-direction: column;
        }
    }

    .wind-box {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        & > * {
            flex: 1;
            padding: 0 0.75em;
            text-align: center;
            display: flex;
            flex-direction: column;

            &::after {
                content: 'km/h';
                font-size: 0.7em;
                opacity: 0.5;
            }
        }
    }
    .wind-min {
        font-size: 0.8em;
        opacity: 0.7;
    }
    .wind-avg {
        font-weight: 600;
        color: $accent;
    }
    .wind-max {
        font-size: 0.8em;
        opacity: 0.7;
    }
}

.device-marker {
    height: 4em;
    width: 4em;

    margin-left: -2em;
    margin-top: -2em;

    overflow: hidden;

    position: relative;

    background-color: white;
    border: solid 0.4em #345426de;
    color: $accent;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    .wind-icon {
        font-size: 2.5em;
        z-index: 1001;
    }
}

.device-marker-popup {
    .leaflet-popup-content-wrapper {
        box-shadow: none;
        background: none;
        .leaflet-popup-content {
            margin: 0;
            width: 50em !important;
        }

        .link-icon {
            display: none;
        }

        @media (max-width: 600px) {
            .leaflet-popup-content {
                width: 20em !important;
            }
        }
    }
    .leaflet-popup-close-button {
        font-size: 2em;
        margin: 0.5em;
    }
}

.device-details-page {
    padding: 3em 4em;
    height: 100%;
    width: 100%;
    position: absolute;

    overflow: auto;

    h1 {
        color: $accent;
        font-size: 4em;
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        color: $accent;
        font-size: 2em;
        margin-bottom: 0;
    }

    .description {
        color: $accent;
        opacity: 0.75;

        margin-top: 1em;
    }

    .go-back {
        border-radius: 50%;

        margin-right: 2em;
        padding: 1em;

        transition: background-color ease-out 0.3s;

        &:hover {
            background-color: $bg;
        }

        svg {
            font-size: 3rem;
            color: $accent;
        }
    }

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin-bottom: 2em;

        .header-text {
            flex: 1;

            .description {
                margin: 0;
            }
        }
    }
    .wind-graph {
        height: 500px;
    }
}
